<div class="gamebox" id="lobby">
	<h2> Waiting for players... </h2>
	<input type="text" id="name_pick" placeholder="Choose your name" />
	<h3> Players </h3>
	<ul id="player_list"></ul>
	<button id="begin" class="hidden">Begin</button>
</div>

<div class="gamebox hidden" id="waiting">

</div>
<div class="gamebox hidden" id="upload_your_pic">
	<div id="description"></div>
	<div id="uploadbox"></div>
</div>
<div class="gamebox hidden" id="write_description">
	<div id="picturebox"></div>
	<input type="text" id="description_entry" placeholder="Describe the picture"/>
</div>

